<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лидеры роста</title>
    <link rel="stylesheet" href="../../static/styles/mainpage.css">
</head>
<body>
    <div class="container">
        <h1>Лидеры роста</h1>
        <div class="leaderboard">
            {% for stock in growth_leaders %}
            <div class="leader-card">
                <h3>{{ stock.ticker }}</h3>
                <p>Рост: {{ stock.change|floatformat:2 }}%</p>
                <p>Цена в начале периода: {{ stock.start_price }} руб.</p>
                <p>Цена в конце периода: {{ stock.end_price }} руб.</p>
                <a href="/securities_price/{{ stock.security__ticker }}/" class="btn btn-primary">Подробнее</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
