<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title href="#">Financial Analytics Dashboard</title>
    <link rel="stylesheet" href="../../static/styles/mainpage.css">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'Главная' %}">FinAnal</a>
        </div>
        
        <div class="navbar-mid" id="navbarNav">
            <ul class="navbar-list">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Securities' %}">Акции</a>  <!-- Ссылка на страницу с акциями -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'NewsSummary' %}">Лента новостей</a>
                </li>
            </ul>
        </div>      
    </nav>
    

    <!-- Main Content -->
    <div class="container">
        <div class="main-header">
            <div class="main-header-content">
                <h1>Добро пожаловать на главную страницу</h1>
                <p>Получайте ценную информацию и анализ финансовых показателей в режиме реального времени</p>
                <form action="/search/" method="GET">
                    <input class="search-input" type="search" name="query" id="stock-search" placeholder="Поиск акций" aria-label="Поиск">
                    <div class="suggestions" id="suggestions"></div> 
                </form>
                
                <script>
                    document.getElementById('stock-search').addEventListener('keyup', function() {
                        const query = this.value;
                        if (query.length < 2) return;
                
                        fetch(`/search/?query=${query}`, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            const suggestionsContainer = document.getElementById('suggestions');
                            suggestionsContainer.innerHTML = ''; // Очищаем предыдущие подсказки
                
                            data.filtered_securities.forEach(security => {
                                const suggestion = document.createElement('a');
                                suggestion.classList.add('suggestion-item');
                                suggestion.textContent = `${security.name} (${security.ticker})`;
                                suggestion.href = `/securities_price/${security.ticker}/`;  // Ссылка на страницу акции
                                suggestionsContainer.appendChild(suggestion);
                            });
                        })
                        .catch(error => console.error('Ошибка при поиске акций:', error));
                    });
                </script>
             </div>
        </div>
        
        <div class="gradient-transition"></div>

        <!-- Summary Section -->
        <div class="summary">
            <div class="heading-container">
            </div>
            <h2 class="summary-header">О российском рынке</h2>
            <div class="summary-content">

                <div class="summary-block">
                    <a href="{% url 'FallLeaders'%}" class="summary-link">Лидеры падений</a>
                </div>

                <div class="summary-block">
                    <a href="{% url 'GrowthLeaders'%}" class="summary-link">Лидеры роста</a>
                </div>

            </div>
        </div>
    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 FinAnal. All rights reserved.</p>
    </footer>

</body>
</html>
