<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Analytics Dashboard</title>
    <link rel="stylesheet" href="../../static/styles/mainpage.css">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#">FinAnal</a>
            <!-- <button class="" type="button" data-toggle="" data-target="" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button> -->
        </div>
        
        <div class="navbar-mid" id="navbarNav">
            <ul class="navbar-list">
                <li class="">
                    <a class="nav-link" href="#">Домой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Securities' %}">Акции</a>  <!-- Ссылка на страницу с акциями -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Идеи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Лента новостей</a>
                </li>
            </ul>
        </div>

        <div class="navbar-right">
            <a href="#">Регистрация</a>
        </div>
        
    </nav>
    

    <!-- Main Content -->
    <div class="container">
        <div class="main-header">
            <div class="main-header-content">
                <h1>Добро пожаловать на главную страницу</h1>
                <p>Получайте ценную информацию и анализ финансовых показателей в режиме реального времени</p>
                <form action="/search/" method="GET">
                    <input class="search-input" type="search" name="query" id="stock-search" placeholder="Поиск акций" aria-label="Поиск">
                    <div class="suggestions" id="suggestions"></div> 
                </form>
                
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                $(document).ready(function(){
                    $('#stock-search').on('input', function(){
                        var query = $(this).val();
                        if (query.length > 2) {  // Начинаем поиск после 3 символов
                            $.ajax({
                                url: "{% url 'SearchSecurities' %}",
                                data: {'query': query},
                                success: function(data) {
                                    $('#suggestions').empty();
                                    if (data.length > 0) {
                                        data.forEach(function(item) {
                                            $('#suggestions').append('<div><a href="/securities_price/' + item.SECID + '/">' + item.SHORTNAME + '</a></div>');
                                        });
                                    } else {
                                        $('#suggestions').append('<div>Нет результатов</div>');
                                    }
                                }
                            });
                        } else {
                            $('#suggestions').empty();
                        }
                    });
                });
                </script>

                
                
            </div>
        </div>
        
        <div class="gradient-transition"></div>

        <!-- Summary Section -->
        <div class="summary">
            <div class="heading-container">
            </div>
            <h2 class="summary-header">О российском рынке</h2>
            <div class="summary-content">

                <div class="summary-block">
                    <a href="" class="summary-link">Популярные акции</a>
                </div>

                <div class="summary-block">
                    <a href="" class="summary-link">Торговые идеи</a>
                </div>

                <div class="summary-block">
                    <a href="" class="summary-link">Лидеры роста</a>
                </div>

                <div class="summary-block">
                    <a href="{% url 'NewsSummary' %}" class="summary-link">Новости</a>
                </div>

            </div>
        </div>


        <!-- Charts Section -->
        <div class="chart-container">
            <h2 class="text-center">Financial Performance Overview</h2>
            <div class="row">
                <div class="col-md-6">
                    <h4>Revenue Growth</h4>
                    <img src="https://via.placeholder.com/500x300" alt="Revenue Growth Chart" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h4>Profit Loss</h4>
                    <img src="https://via.placeholder.com/500x300" alt="Profit and Loss Chart" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 FinAnal. All rights reserved.</p>
    </footer>

</body>
</html>
