<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>График {{ ticker }}</title>
    <link rel="stylesheet" href="../../static/styles/mainpage.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'Главная' %}">FinAnal</a>
        </div>
        
        <div class="navbar-mid" id="navbarNav">
            <ul class="navbar-list">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Securities' %}">Акции</a>  <!-- Ссылка на страницу с акциями -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'NewsSummary' %}">Лента новостей</a>
                </li>
            </ul>
        </div>      
    </nav>
    <h1>График акций {{ ticker }}</h1>
    
    <!-- Кнопка для перехода на страницу предсказания -->
    <div>
        <a href="{% url 'predict_stock_price' ticker %}" style="color: blue; text-decoration: underline;">Перейти к предсказанию цен</a>
    </div>
    
    <!-- Форма для выбора диапазона дат -->
    <form method="post" action="">
        {% csrf_token %}
        <div>
            <label for="id_start">Начало котировок:</label>
            {{ form.start }}
            {% if form.start.errors %}
                <div style="color: red;">
                    {{ form.start.errors }}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="id_end">Конец котировок:</label>
            {{ form.end }}
            {% if form.end.errors %}
                <div style="color: red;">
                    {{ form.end.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit">Построить график</button>
    </form>
    
    <!-- Отображение графика -->
    <div>
        {{ chart|safe }}
    </div>
    <footer class="footer">
        <p>&copy; 2024 FinAnal. All rights reserved.</p>
    </footer>
</body>
</html>
